<div class="container mt-5">
  <h1>Blog</h1>
  <% @blogs.each do |blog| %>
    <div class="card mb-4">
      <%= image_tag blog.image.variant(resize_to_limit: [400, 300]), class: "card-img-top", alt: blog.title %>
      <div class="card-body">
        <h5 class="card-title"><%= blog.title %></h5>
        <p class="card-text"><%= truncate(blog.content, length: 150) %></p>
        <%= link_to "Lire la suite", blog_path(blog), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
