
.real-home {
  position: relative; /* Change de 'absolute' à 'relative' */
  top: 0; /* Assurez-vous que 'top' est 0 */
  left: 0;
  width: 100%;
  height: auto; /* Ajustez la hauteur selon votre contenu */
  background-color: white;
  transition: none; /* Supprime la transition */
  z-index: 5;
}

.hidden {
  display: none; /* Utilisé pour cacher des éléments si nécessaire */
}

h1 {
  font-size: 2em;
  color: #333;
  margin: 0;
  padding: 20px;
  text-align: center;
}

.typography-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
  color: #333;
  gap: 20px;
}

.animated-text {
  font-size: 3em;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid orange;
  animation: none; /* Supprime l'animation */
}
