.navbar {
  background-color: #f8f9fa;

  .navbar-brand {
    font-weight: bold;
    color: #333;

    &:hover {
      color: #555;
    }
  }

  .nav-link {
    color: #555;

    &:hover {
      color: #000;
    }
  }
}
