<div id="panel" class="panel">
  <div class="typography-animation">
  <h1 class="animated-text">Bienvenue sur mon Portfolio</h1>
</div>
</div>

<div id="real-home" class="container text-center mt-5 real-home hidden">
  <h1>Bienvenue sur mon Portfolio</h1>
  <p>Je suis un développeur spécialisé en Ruby on Rails, CSS et JavaScript.</p>
  <a href="<%= about_path %>" class="btn btn-primary">En savoir plus sur moi</a>
  <a href="<%= projects_path %>" class="btn btn-secondary">Voir mes projets</a>
</div>
