<div class="container text-center mt-5">
  <h1>Bienvenue sur mon Portfolio</h1>
  <p>Je suis un développeur spécialisé en Ruby on Rails, CSS et JavaScript.</p>
  <a href="<%= about_path %>" class="btn btn-primary">En savoir plus sur moi</a>
  <a href="<%= projects_path %>" class="btn btn-secondary">Voir mes projets</a>
</div>
