<div id="banner" class="container-fluid text-center">
  <h1 class="display-3 fw-bold">ARNAUD LOTHE</h1>
  <p class="lead">Développeur Fullstack</p>

  <div class="banner-buttons mt-4">
    <a href="<%= cv_path %>" class="btn btn-lg btn-outline-custom me-3">Mon CV</a>
    <a href="<%= projects_path %>" class="btn btn-lg btn-outline-custom">Mes projets</a>
  </div>
</div>

<div class="home-tech-icons container mt-5">
  <div class="row justify-content-center">
    <div class="home-tech-icon-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ruby/ruby-original.svg" alt="Ruby" class="home-tech-icon">
      <span class="home-tech-name">Ruby</span>
    </div>
    <div class="home-tech-icon-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/rails/rails-original-wordmark.svg" alt="Rails" class="home-tech-icon">
      <span class="home-tech-name">Rails</span>
    </div>
    <div class="home-tech-icon-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" alt="JavaScript" class="home-tech-icon">
      <span class="home-tech-name">JavaScript</span>
    </div>
    <div class="home-tech-icon-container">
      <%= image_tag('stimulus-logo.jpg', alt: 'Stimulus', class: 'home-tech-icon') %>
      <span class="home-tech-name">Stimulus</span>
    </div>
    <div class="home-tech-icon-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vuejs/vuejs-original.svg" alt="Vue.js" class="home-tech-icon">
      <span class="home-tech-name">Vue.js</span>
    </div>
    <div class="home-tech-icon-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" alt="PostgreSQL" class="home-tech-icon">
      <span class="home-tech-name">PostgreSQL</span>
    </div>
    <div class="home-tech-icon-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" class="home-tech-icon">
      <span class="home-tech-name">GitHub</span>
    </div>
    <div class="home-tech-icon-container">
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap" class="home-tech-icon">
      <span class="home-tech-name">Bootstrap</span>
    </div>
    <div class="home-tech-icon-container">
      <%= image_tag('tailwind.jpg', alt: 'Tailwind', class: 'home-tech-icon') %>
      <span class="home-tech-name">Tailwind CSS</span>
    </div>
  </div>
</div>



  <!-- Ajout de la carte pour le texte de présentation -->
  <div class="row mt-4">
    <div class="col-lg-8 mx-auto">
      <div class="card-home shadow-lg border-0 mx-4">
        <div class="card-body">
          <p class="card-text">Je possède une expertise complète en développement d'applications web, alliant à la fois le Back-End et le Front-End. J'ai une solide expérience dans le développement d'applications web complètes avec Ruby on Rails et JavaScript, et je suis capable de gérer efficacement leur déploiement en production. Je maîtrise la gestion des bases de données relationnelles avec PostgreSQL. En Front-End, je crée des interfaces réactives avec HTML, CSS (Bootstrap et Tailwind), Vue.js et Stimulus, tout en validant l'expérience utilisateur avec Figma. J'excelle également dans le travail collaboratif via GitHub pour la gestion de projet en équipe.</p>
        </div>
      </div>
    </div>
  </div>
</div>
